@-webkit-keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-0 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-1 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-1 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-2 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-2 {
0% { opacity:0; }
100% { opacity:1; }
} 
@-webkit-keyframes _idGenKeyFrames-3 {
0% { opacity:0; }
100% { opacity:1; }
} 
@keyframes _idGenKeyFrames-3 {
0% { opacity:0; }
100% { opacity:1; }
} 
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.scroll-horiz_showScroll {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.scroll-none_showScroll {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:"Adobe Arabic", serif;
	font-size:640px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(-9.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-9.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:617.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-9.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-9.001px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1098.00px;
}
#_idContainer001 {
	-ms-transform:translate(74.499px,365.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(74.499px,365.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:251.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(74.499px,365.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(74.499px,365.059px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:931.00px;
}
#_idContainer002 {
	-ms-transform:translate(376.000px,330.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(376.000px,330.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:251.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(376.000px,330.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(376.000px,330.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:328.00px;
}
#_idContainer003 {
	-ms-transform:translate(838.499px,622.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(838.499px,622.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(838.499px,622.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(838.499px,622.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:174.00px;
}
#_idContainer004 {
	-ms-transform:translate(848.000px,1176.343px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(848.000px,1176.343px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(848.000px,1176.343px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(848.000px,1176.343px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:174.00px;
}
#_idContainer005 {
	-ms-transform:translate(486.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(486.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(486.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(486.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:480.50px;
}
#_idContainer006 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:480.50px;
}
#_idContainer007 {
	-ms-transform:translate(17.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(17.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(17.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(17.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:446.50px;
}
#_idContainer008 {
	-ms-transform:translate(503.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(503.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(503.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(503.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:446.50px;
}
#_idContainer009 {
	-ms-transform:translate(1492.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1492.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1492.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1492.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:480.50px;
}
#_idContainer010 {
	-ms-transform:translate(1005.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1005.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1005.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1005.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:480.50px;
}
#_idContainer011 {
	-ms-transform:translate(1022.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(1022.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1022.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1022.500px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:446.50px;
}
#_idContainer012 {
	-ms-transform:translate(1509.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(1509.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:224.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1509.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1509.000px,196.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:446.50px;
}
#_idContainer013 {
	-ms-transform:translate(57.749px,2740.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(57.749px,2740.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:420.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.749px,2740.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(57.749px,2740.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1972.50px;
}
#_idContainer014 {
	-ms-transform:translate(119.249px,3400.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(119.249px,3400.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:441.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(119.249px,3400.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(119.249px,3400.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:841.50px;
}
#_idContainer015 {
	-ms-transform:translate(848.000px,1810.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(848.000px,1810.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(848.000px,1810.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(848.000px,1810.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:174.00px;
}
#_idContainer016 {
	-ms-transform:translate(848.000px,2627.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(848.000px,2627.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(848.000px,2627.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(848.000px,2627.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:174.00px;
}
#_idContainer017 {
	-ms-transform:translate(838.999px,3268.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(838.999px,3268.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(838.999px,3268.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(838.999px,3268.093px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:192.00px;
}
#_idContainer018 {
	-ms-transform:translate(0.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(0.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:949.00px;
}
#_idContainer019 {
	-ms-transform:translate(11.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(11.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(11.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(11.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:931.00px;
}
#_idContainer020 {
	-ms-transform:translate(2.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(2.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:125.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(2.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(2.000px,-7.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:949.00px;
}
#_idContainer021 {
	-ms-transform:translate(63.499px,2356.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(63.499px,2356.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(63.499px,2356.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(63.499px,2356.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:951.00px;
}
#_idContainer022 {
	height:418px;
	left:0px;
	position:absolute;
	top:0px;
	width:1005px;
}
#_idContainer023 {
	height:369px;
	left:0px;
	position:absolute;
	top:49px;
	width:1005px;
}
#_idContainer024 {
	height:404px;
	left:0px;
	position:absolute;
	top:0px;
	width:1005px;
}
#_idContainer025 {
	height:418px;
	left:31px;
	position:absolute;
	top:1904px;
	width:1005px;
}
#_idContainer026, #_idContainer028 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
}
#_idContainer027 {
	-ms-transform:translate(925.499px,2077.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(925.499px,2077.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(925.499px,2077.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(925.499px,2077.624px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
}
#_idContainer029 {
	-ms-transform:translate(65.499px,2084.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(65.499px,2084.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.499px,2084.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(65.499px,2084.562px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:69.00px;
}
#_idContainer030, #_idContainer044 {
	-ms-transform:translate(667.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(667.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(667.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(667.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.00px;
}
#_idContainer031, #_idContainer045 {
	-ms-transform:translate(327.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(327.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(327.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(327.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.00px;
}
#_idContainer032, #_idContainer046 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.00px;
}
#_idContainer033, #_idContainer047 {
	-ms-transform:translate(1013.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1013.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1013.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1013.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.00px;
}
#_idContainer034, #_idContainer048 {
	-ms-transform:translate(1694.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1694.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1694.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1694.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.00px;
}
#_idContainer035, #_idContainer049 {
	-ms-transform:translate(1355.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1355.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1355.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1355.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:315.00px;
}
#_idContainer036, #_idContainer050 {
	-ms-transform:translate(1379.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(1379.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1379.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1379.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
#_idContainer037, #_idContainer051 {
	-ms-transform:translate(12.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(12.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(12.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(12.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
#_idContainer038, #_idContainer052 {
	-ms-transform:translate(339.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(339.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(339.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(339.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
#_idContainer039, #_idContainer053 {
	-ms-transform:translate(679.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(679.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(679.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(679.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
#_idContainer040, #_idContainer054 {
	-ms-transform:translate(1706.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(1706.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1706.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1706.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
#_idContainer041, #_idContainer055 {
	-ms-transform:translate(1031.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-perspective:1px;
	-webkit-transform:translate(1031.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:181.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1031.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1031.000px,234.625px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
#_idContainer042 {
	-ms-transform:translate(-24.001px,6.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-24.001px,6.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:404.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.001px,6.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-24.001px,6.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2009.00px;
}
#_idContainer043 {
	-ms-transform:translate(41.500px,715.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.500px,715.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/20.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:441.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.500px,715.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.500px,715.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1020.50px;
}
#_idContainer056 {
	-ms-transform:translate(-2.001px,31.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-2.001px,31.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:404.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-2.001px,31.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-2.001px,31.875px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2009.00px;
}
#_idContainer057 {
	-ms-transform:translate(41.500px,1273.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(41.500px,1273.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/27.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:507.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(41.500px,1273.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(41.500px,1273.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1002.50px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:441px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1020px;
}
div._idGenObjectAttribute-4 {
	height:507px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1002px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenPlayAnimation-1 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-0;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-0;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-2 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-1;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-1;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-3 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-2;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-2;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenPlayAnimation-4 {
	-webkit-animation-delay:0.000s;
	-webkit-animation-duration:1.000s;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:_idGenKeyFrames-3;
	-webkit-animation-timing-function:linear;
	-webkit-transform-origin:50% 50%;
	animation-delay:0.000s;
	animation-duration:1.000s;
	animation-fill-mode:forwards;
	animation-iteration-count:1;
	animation-name:_idGenKeyFrames-3;
	animation-timing-function:linear;
	transform-origin:50% 50%;
}
div._idGenAnimationStart-1 {
	opacity:0;
}
div._idGenAnimationEnd-1 {
	opacity:1;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenMSO {
	visibility:hidden;
}
div._idGenMSO div._idGenCurrentState {
	visibility:visible;
}
div._idGenMSO._idGenStateHide div._idGenCurrentState {
	visibility:hidden;
}
div._idGenStateHide div._idGenMSO div._idGenCurrentState {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
